$calendar-background-color: #455345;
$button-background-color: #6f876f;
$button-hover-color: #8cb28c;
$text: #eff6ef;

.calendar-container {
    max-width: 600px;
    margin: auto;
    background-color: $calendar-background-color;
    padding: 10px;
    border-radius: 10px;

    .react-calendar {

        &__tile {

            &--now {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $text;
                    border-radius: 5px;
                    top: 80%;
                    left: 51%;
                    transform: translate(-50%, -50%);
                }
            }

            &--active {
                background-color: $button-hover-color;
                border: none;
                box-shadow: none !important;
            }
        }

        &__navigation {
            display: flex;
            margin-bottom: 12px;

            &__label {
                font-size: large;
            }

            &__arrow {
                flex-grow: 0.333;
                font-size: large;
            }
        }

        &__month-view {
            &__weekdays {
                text-align: center;
                color: $text;
                font-family: dosis;

                abbr {
                    text-decoration: none;
                }
            }

            &__days {
                display: grid !important;
                grid-template-columns: repeat(7, 14.2%);

                &__day {
                    &--neighboringMonth {
                        opacity: 0.35;
                    }
                }

                & .react-calendar__tile {
                    max-width: initial !important;

                    &--range {
                        box-shadow: 0 0 6px 2px black;
                    }
                }
            }
        }

        &__year-view,
        &__decade-view,
        &__century-view {

            &__months,
            &__years,
            &__decades {
                display: grid !important;
                grid-template-columns: repeat(5, 20%);

                &.react-calendar__year-view__months {
                    grid-template-columns: repeat(3, 33.3%);
                }

                & .react-calendar__tile {
                    max-width: initial !important;
                }
            }
        }
    }

    button {
        margin: 5px;
        background-color: $button-background-color;
        border: 0;
        border-radius: 5px;
        color: $text;
        padding: 11px;
        cursor: pointer;

        &:hover {
            background-color: $button-hover-color;
        }

        &:active {
            background-color: $text;
        }
    }
}