@use "../../variables" as var;

.spending-table-container {
    display: flex;
    flex-direction: column;
    margin: 10px;

    table {
        table-layout: fixed;
        width: 100%;
        border-spacing: 0;
        border-radius: 10px;
        border: solid rgba(var.$border-color, 0.9) 1px;
    }

    th {
        background-color: var.$border-color;
        padding: 10px;
        overflow: hidden;
        color: var.$light-text;
        font-weight: lighter;

        &:last-child {
            border-radius: 0 6px 0 0;
        }

        &:first-child {
            border-radius: 6px 0 0 0;
        }
    }

    tr {
        text-align: center;

        &:nth-child(even) {
            background-color: rgba(var.$gray-color, 0.05);
        }
    }

    td,
    th {
        border-left: solid var.$border-color 1px;
        border-top: solid var.$border-color 1px;
    }

    th {
        border-top: none;
    }

    td:first-child,
    th:first-child {
        border-left: none;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"] {
        border: none;
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
        background-color: transparent;
        font-family: dosis;
        color: var.$input-text-color;
        font-size: large;

        &.red {
            color: var.$red-color;
        }

        &.green {
            color: var.$green-color;
        }

        &.gray {
            color: var.$gray-color;
        }

        &.faded {
            color: var.$gray-color;
            opacity: 0.8;
        }
    }

    button {
        padding: 5px 10px;
        margin: 5px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: large;
        border-radius: 10px;
    }

    button.green {
        background-color: var.$green-color;
        color: white;
    }

    button.red {
        background-color: var.$red-color;
        color: white;
    }

    button {

        &.add-row-button {
            align-self: flex-end;
        }

        &.add-row-button,
        &.delete-row-button {
            color: var.$gray-color;
            opacity: 0.5;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .price {
        display: flex
    }
}