@use 'variables' as var;

@font-face {
    font-family: dosis;
    src: url("font/dosis.ttf");
}

html {
    font-family: dosis;
    color: var.$text;
    background-color: #ecefec;
}

button {
    font-family: dosis;
}

h1 {
    text-align: center;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    border: none;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    font-family: dosis;
    color: var.$input-text-color;
    font-size: large;

    &.red {
        color: var.$red-color;
    }

    &.green {
        color: var.$green-color;
    }

    &.gray {
        color: var.$gray-color;
    }

    &.faded {
        color: var.$gray-color;
        opacity: 0.8;
    }
}